<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	 <!-- <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
          <list>
            <value>${app.properties.location}</value>
          </list>
        </property>
      </bean> -->
	<context:component-scan base-package="com.ctoassociate" />
	<task:annotation-driven/>
	

	<!-- <bean id="adminDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${admin.db.driverClassName}" />
		<property name="url" value="${admin.db.url}" />
		<property name="username" value="${admin.db.username}" />
		<property name="password" value="${admin.db.password}" />
	</bean> 
	    
    <bean id="adminEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
        <property name="persistenceUnitName" value="adminpunit" />
        <property name="dataSource" ref="adminDataSource" />
        <property name="packagesToScan" value="com.pearson.*" />
    </bean>    
************ JPA configuration ***********
	<tx:annotation-driven transaction-manager="transactionManager" />  
	
   
	<bean id="adminTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="adminEntityManagerFactory" />
    </bean> 
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" /> -->
	
		
</beans>